.about {
    background: #F5F5F5;
}

.aboutContent {
    display: flex;
    justify-content: space-between;
}

.headshot {
    width: 25%;
}

.headshot img {
    width: 100%;
    border-radius: 10px;
}

.aboutContent p {
    width: 70%;
    font-size: 1.8rem;
    line-height: 1.8;
    align-self: center;
}

@media (max-width: 1010px) {
    .headshot {
        width: 30%;
    }

    .aboutContent p {
        width: 65%;
    }
}

@media (max-width: 935px) {
    .headshot {
        width: 35%;
    }

    .aboutContent p {
        width: 62%;
    }
}

@media (max-width: 880px) {
    .aboutContent {
        flex-direction: column;
        align-items: center;
    }

    .headshot {
        width: 50%;
    }

    .aboutContent p {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 670px) {
    .aboutContent p {
        width: 90%;
    }
}