.about {
    background: #F5F5F5;
}

.aboutContent {
    display: flex;
    justify-content: space-between;
}

.headshot {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot img {
    width: 100%;
    border-radius: 10px;
}

.aboutDescription {
    width: 60%;
    align-self: center;
}

.aboutDescription p {
    font-size: 1.8rem;
    line-height: 1.8;
    margin: 50px 0;
    
}

@media (max-width: 1500px) {
    .headshot {
        width: 30%;
    }
}

@media (max-width: 1155px) {
    .headshot {
        width: 37%;
    }
}

@media (max-width: 1010px) {
    .headshot {
        width: 42%;
    }

    .aboutDescription {
        width: 55%;
    }
}

@media (max-width: 935px) {
    // .headshot {
    //     width: 35%;
    // }

    .aboutDescription {
        width: 52%;
    }
}

@media (max-width: 880px) {
    .aboutContent {
        flex-direction: column;
        align-items: center;
    }

    .headshot {
        width: 50%;
    }

    .aboutDescription {
        width: auto;
    }

    .aboutDescription p {
        text-align: center;
        width: 100%;
    }
}

// @media (max-width: 670px) {
//     .aboutContent p {
//         width: 90%;
//     }
// }