.contact {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/public/assets/background-contact.jpg);
    background-size: cover;
    background-position: center;
}

.contact h2 {
    color: #FFF;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

.formItem {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    color: #CCC;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 5px;
}

input[type=text], input[type=email], textarea {
    border-radius: 5px;
    font-size: 1.8rem;
}

input[type=text], input[type=email] {
    border: none;
}

input#name, input#email, input#subject {
    height: 45px;
}

textarea {
    max-width: 100%;
    max-height: 100%;
}

input[type=submit] {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    box-shadow: 0 3px 10px 0 rgba(200,200,200,0.5);
    border-radius: 50px;
    padding: 20px 40px;
    text-transform: uppercase;
    color: #000;
    background: orange;
    outline: none;
}

input[type=submit]:hover {
    background: rgba(255,165,0,0.7);
}

input[type=submit]:active {
    box-shadow: 0 1px 2px 0 rgba(200,200,200,0.5);
    transform: translateY(3px);
}

.contactEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h4 {
    color: #FFF;
    margin: 0;
    font-size: 2rem;
}

.contact a {
    color: #0A66C2;
    // font-size: 1.8rem;
    text-decoration: none;
}

@media (max-width: 1300px) {
    .formItem {
        width: 70%;
    }
}